.theme-switcher {
    & > .theme {
        padding: 0.1em 0.2em;
        margin: 0.5em;
        border-radius: 0.25em;
        color: var(--header-background);
        background-color: var(--color-text);
        display: flex;
        align-items: center;
        gap: 0.22em;

        & > .theme-icon {
            font-size: 1.1em;
        }

        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }
    }
}
